#page_top {
  display: block;
}
#page_top img {
  width: 100%;
}
#page_top .global-nav {
  position: absolute;
  top: 3rem;
  right: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#page_top .global-nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#page_top .global-nav ul li {
  margin: 0 2rem;
  vertical-align: middle;
}
#page_top .global-nav ul li a {
  font-size: 2rem;
  font-weight: 400;
  vertical-align: middle;
  color: #ffffff;
}
#page_top .global-nav ul li a:hover {
  color: #9BFF76;
}
#page_top .global-nav .sns-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#page_top .global-nav .sns-icon a {
  height: 100%;
  margin: 2rem;
  display: inline-block;
  width: 2.9rem;
}
#page_top .global-nav .sns-icon img {
  width: 100%;
}

.vision > p {
  padding-left: 3rem;
}
.vision .col2-inner p {
  margin-top: 1rem;
  line-height: 2;
}

.page_top_btn {
  margin-top: 3rem;
  width: 100%;
  display: flex;
  justify-content: right;
  text-align: center;
}
.page_top_btn a {
  display: flex;
  flex-direction: column-reverse;
  width: 7rem;
}